<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.golfpractice.library">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.MonApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.GolfCourseListActivity"
            android:label="@string/title_activity_golf_course_list"
            android:screenOrientation="portrait"
            android:theme="@style/GreenTheme" />

        <service
            android:name=".services.GolfCourseRefreshService"
            android:exported="false" />

        <activity
            android:name=".activities.HoleStatActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.PracticeUploadService"
            android:exported="false"></service>
    </application>

</manifest>